{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="container px-5 my-5">
  <div class="fw-bold text-white text-start">
    <h6 class="mx-4">1/1/25</h6>
    <h3>< Monday Affirmation ></h3>
  </div>
  <div class="mb-3">
    <label for="affirmation" class="form-label"></label>
    <textarea
      class="form-control border-dark"
      id="Affirmation"
      rows="10"
    ></textarea>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </div>
</div>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

{% endblock %}
