{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="container px-5 my-5">
  <div class="fw-bold text-white text-start">
    <h3>Monday Affirmation</h3>
    <h5>example question?</h5>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label"></label>
    <textarea
      class="form-control border-secondary-subtle"
      id="exampleFormControlTextarea1"
      rows="10"
    ></textarea>
  </div>
</div>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

{% endblock %}
