{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="text-white">
  <h1 class="text-center">Altuva</h1>
</div>
<!-- Add your page-specific content here -->

<div class="d-flex justify-content-center">
  <div class="row align-items-start text-center">
    <div class="col">
      <div class="card text-bg-dark mb-3 mx-4" style="max-width: 18rem">
        <div class="card-body">
          <div class="card-text">
            <p>
              <div class="container">
                <div class="row">
                  <div class="col-2 text-center">
                    <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                    <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btncheck1">.</label>
                    </div>
                  </div>
                  <div class="col">
                    Wake Up + Affirmation
                  </div>
                </div>
                <div class="row gap-2">
                  <div class="col-2 text-center">
                    <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                    <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btncheck1">.</label>
                    </div>
                  </div>
                  <div class="col">
                    Wake Up + Affirmation
                  </div>
                </div>
              </div>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-bg-dark mb-3 mx-4" style="max-width: 18rem">
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card’s content. Some quick example text to build on the
            card title and make up the bulk of the card’s content. Some quick
            example text to build on the card title and make up the bulk of the
            card’s content. Some quick example text to build on the card title
            and make up the bulk of the card’s content. Some quick example text
            to build on the card title and make up the bulk of the card’s
            content. Some quick example text to build on the card title and make
            up the bulk of the card’s content. Some quick example text to build
            on the card title and make up the bulk of the card’s content.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-bg-dark mb-3 mx-4" style="max-width: 18rem">
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card’s content. Some quick example text to build on the
            card title and make up the bulk of the card’s content. Some quick
            example text to build on the card title and make up the bulk of the
            card’s content. Some quick example text to build on the card title
            and make up the bulk of the card’s content. Some quick example text
            to build on the card title and make up the bulk of the card’s
            content. Some quick example text to build on the card title and make
            up the bulk of the card’s content. Some quick example text to build
            on the card title and make up the bulk of the card’s content.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
