{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 class="text-center">GameSelect Catalogue</h1>
<!-- Add your page-specific content here -->

<div class="container">
  <div class="row">
    {% for i in range(12) %}
    <div class="col-12 col-md-6 col-lg-4 mb-4">
      <!-- This column will be full width on small screens, 
            half width on medium screens, 
            and one-third width on large screens -->
      <div class="card movie-card">
        <img src="callofduty.jpg" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title">Call Of Duty</h5>
          <p class="card-text">us war trainer</p>
          <button
            class="btn btn-custom me-2"
            data-bs-toggle="modal"
            data-bs-target="#editMovieModal"
          >
            Edit
          </button>
          <button
            class="btn btn-danger"
            data-bs-toggle="modal"
            data-bs-target="#deleteMovieModal"
          >
            Delete
          </button>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
</div>

{% endblock %}
