{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="text-white">
  <h1 class="text-center">GameSelect Catalogue</h1>
</div>
<!-- Add your page-specific content here -->

<div class="container">
  <div class="row">
    {% for i in range(12) %}
    <div class="col-12 col-md-6 col-lg-4 mb-4">
      <!-- This column will be full width on small screens, 
            half width on medium screens, 
            and one-third width on large screens -->
      <div class="card movie-card">
        <img
          src="{{ url_for('static', filename='123.jpg') }}"
          alt="Call Of Duty"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">Call Of Duty</h5>
          <p class="card-text">
            Call of Duty is a military first-person shooter video game series
            and media franchise published by Activision, starting in 2003. The
            games were first developed by Infinity Ward, then by Treyarch and
            Sledgehammer Games. Several spin-off and handheld games were made by
            other developers.
          </p>
          <button
            class="btn btn-dark"
            data-bs-toggle="modal"
            data-bs-target="#editMovieModal"
          >
            Edit
          </button>
          <button
            class="btn btn-danger"
            data-bs-toggle="modal"
            data-bs-target="#deleteMovieModal"
          >
            Delete
          </button>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="deleteMovieModal"
  tabindex="-1"
  aria-labelledby="deleteMovieModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteMovieModal">Delete Game</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">...</div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-secondary"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <button
          type="button"
          class="btn btn-outline-danger"
          class="btn btn-danger"
          data-bs-dismiss="modal"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="editMovieModal"
  tabindex="-1"
  aria-labelledby="editMovieModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editMovieModal">Edit Game</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">...</div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-secondary"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <button
          type="button"
          class="btn btn-outline-primary"
          class="btn btn-primary"
          data-bs-dismiss="modal"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
