{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="container px-0 my-5">
  <h3 class="text-white">< Monday ></h3>
  <div class="container text-center">
    <div class="row align-items-start">
      <div class="col">
        <h5 class="text-white text-start">Morning</h5>
        <div class="card" style="width: 18rem">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="checkDefault"
                />
                <label class="form-check-label" for="checkDefault">
                  Default checkbox
                </label>
              </div>
            </li>
            <li class="list-group-item">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="checkDefault"
                />
                <label class="form-check-label" for="checkDefault">
                  Default checkbox
                </label>
              </div>
            </li>
            <li class="list-group-item">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="checkDefault"
                />
                <label class="form-check-label" for="checkDefault">
                  Default checkbox
                </label>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col">
        <h5 class="text-white text-start">Afternoon</h5>
        <div class="col">
          <div class="card" style="width: 18rem">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="checkDefault"
                  />
                  <label class="form-check-label" for="checkDefault">
                    Default checkbox
                  </label>
                </div>
              </li>
              <li class="list-group-item">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="checkDefault"
                  />
                  <label class="form-check-label" for="checkDefault">
                    Default checkbox
                  </label>
                </div>
              </li>
              <li class="list-group-item">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="checkDefault"
                  />
                  <label class="form-check-label" for="checkDefault">
                    Default checkbox
                  </label>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <h5 class="text-white text-start">Night</h5>
        <div class="col">
          <div class="card" style="width: 18rem">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="checkDefault"
                  />
                  <label class="form-check-label" for="checkDefault">
                    Default checkbox
                  </label>
                </div>
              </li>
              <li class="list-group-item">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="checkDefault"
                  />
                  <label class="form-check-label" for="checkDefault">
                    Default checkbox
                  </label>
                </div>
              </li>
              <li class="list-group-item">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="checkDefault"
                  />
                  <label class="form-check-label" for="checkDefault">
                    Default checkbox
                  </label>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container text-center fixed-bottom mb-3">
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-outline-primary">
            Add Task
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary">
            Edit Task
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary">
            Delete Task
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

{% endblock %}
